<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/fragments.css}">
    <meta charset="UTF-8">
</head>

<body>

<div th:fragment="header" class="header">
    <select id="language-switcher" class="form-select">
        <option selected></option>
        <option value="LT" th:text="#{language.lt}"></option>
        <option value="EN" th:text="#{language.en}"></option>
    </select>

    <a th:href="@{/cart}">
        <image src="src/main/resources/images/backpack.png" class="ui-icon-cart"></image>
    </a>
</div>

<div th:fragment="inputField(id, fieldName, placeholderText, type)" class="form-floating">
    <input th:id="${id}" th:field="*{__${fieldName}__}" th:placeholder="${placeholderText}" th:type="${type}">
    <label th:for="${id}" th:text="${fieldName}"></label>
</div>>

</body>
</html>